.sign-in{
  height: 100vh;
  display: flex;
  .side-bar{
    background-color: $primary-color;
    flex :1;
    img{
      margin: 30px 10px;
    }
  }
  .main-form{
    width :100%;
    flex :3;
    padding :20px 30px;
      .social-buttons{
        display: flex;
        justify-content: space-between;
      }    
      .login-or-divider {
        margin: 10px 0;
      }
      .theme-form{
        max-width: 100%;
      }
    }
  }
  .flex-row{
    max-width :100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .remember{
      color: grey;
    }
    div{
      flex :1;
    }
  }

  @media(max-width : 500px){
    .side-bar{
      display: none;
    }

  }