
.theme-btn{
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 8px 15px;
    line-height: 1.5;
    min-width: 100px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:focus{
      outline: none;
    }
    
}
.theme-btn-primary{
  background-color: $primary-color;
  color :$white;
  &:focus{
    background-color: $primary-color;
    color :$white;
  }
  &:hover{
    background-color: $primary-light-color;
    color :$white;
  }
}

.theme-btn-secondery{
  border:1px solid #666;
  background-color: $white;
  color :$secondary-light-color;

  &:focus{
    border:1px solid #666;
    background-color: $white;
    color :$secondary-light-color;
  }
  &:hover{
    background-color: $secondary-color;
    color :$white;
  }
}

.theme-btn-outline-white{
  border:1px solid $white;
  background-color: transparent;
  color :$white;
  
  &:focus{
    border:1px solid $white;
    background-color: transparent;
    color :$white;
  } 

  &:hover{
    background-color: $white;
    color :$primary-color;

  }
}
.theme-btn-filled-white{
  border: 1px solid $primary-light-color;
  background-color: $white;
  color :$primary-color ;
  &:focus{
    border: 1px solid $primary-light-color;
    background-color: $white;
    color :$primary-color ;
  }
  &:hover{
    background-color: $white;
    opacity: 0.8;
  }
}
.theme-btn-outline-pink{
  background-color: $primary-color;
  border: 1px solid $primary-light-color;
  color :$white ;
  &:focus{
    background-color: $primary-color;
    border: 1px solid $primary-light-color;
    color :$white ;
  }
  &:hover{
    background-color: $white;
    color :$primary-color;

  }
}
.theme-btn-primary-light{
  background-color: $primary-light-color;
  color :$white;
  &:focus{
    background-color: $primary-light-color;
    color :$white;
  }
  &:hover{
    background-color: $white;
    color :$primary-color;
  }
}


.theme-btn-link {
  padding: 0;
  display: flex;
  color : $primary-color;
  background-color: transparent;
}

.btn-social {
  color:$white;
  display: flex;
  width: 160px;
  justify-content: center;

  span {
    font-size: 20px;
    margin-right: 10px;
  }
}
.btn-fb{
  background-color: #3b5998;
}
.btn-vimeo{
  background-color: #1ab7ea;
}
.btn-insta{
  background-color: #e1306c;
}

.btn-twitter {
  background-color: #4287F6;
}

.btn-google-plus {
  background-color: #E03B1A;
}