.sign-up{
  height: 100%;
  display: flex;
  .side-bar{
    min-height: 100%;
    background-color: $primary-color;
    flex :1;
    img{
      margin: 30px 10px;
    }
  }
  .main-form{
    width :100%;
    flex :3;
    padding :20px 30px;
    .image{
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    .image:focus + label {
      /* keyboard navigation */
      // outline: 1px dotted #000;
      // outline: -webkit-focus-ring-color auto 5px;
    }
    .image + label * {
      pointer-events: none;
    }
    .social-buttons{
        display: flex;
        justify-content: space-between;
      }    
      .login-or-divider {
        margin: 30px 0;
      }
  }
}