.forget-password{
    height: 100vh;
    display: flex;

    .side-bar{
      background-color: $primary-color;
      flex :1;
      img{
        margin: 30px 10px;
      }
    }
    .main-form{
      width :100%;
      flex :3;
      padding :20px 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      h4{
        text-decoration: bold;
      }

      p{
        font-size: 1rem;
      }
      
      .theme-form
      {
        margin: 0px;
        .field{
          margin: 0px;
          margin-bottom:1rem; 
        }
        button{
          margin-bottom: 1rem;
        }
      } 
    }
  
    @media(max-width : 500px){
      .side-bar{
        display: none;
      }
  
    }
}