.custom-input {
    width: 100%;
    position: relative;
    .placeholder-label {
      position: absolute;
      top: -10px;
      left: 10px;
      opacity: .5;
      font-size: 10px;
      text-transform: uppercase;
    }
    .label{
      color:$white;
      display: none;
    }
    ::placeholder {
      color: inherit;
      opacity: 0.5;
    }
    .form-control{
      border: none;
      background-color: transparent;
      border-bottom: 1px solid lightgray;
      border-radius: 0;
      height: calc(2rem + 2px);
      // &::-webkit-input-placeholder{       // trying to add placeholder mixin but not working
      //   color:$white;
      // }
      &:focus{
        outline: none;
        box-shadow:none;
      }
    }
  
    &.custom-input-with-icon {
      .fa {
        position: absolute;
        font-size: 12px;
        bottom: 10px;
        left: 5px;
        opacity: 0.5;
      }
      .placeholder-label {
        left: 20px;
      }
      input {
        padding-left: 20px;
      }
    }
  }