html, body, .container {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue',sans-serif;
  color: #252525;
  font-size: 16px;
  line-height: 144%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

button:focus, button:active {
  box-shadow: none !important;
  outline: none !important; }

.primary-color {
  color: #F82462; }

.bg-gray-light {
  background-color: #f3f3f3; }

input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 3; }

.app-content {
  display: flex;
  width: 100%; }
  .app-content > * {
    width: 100%; }
  .app-content .centered-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box; }

.X-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.Y-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.v-center {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.h-center {
  display: flex;
  justify-content: center; }

.center {
  display: flex;
  justify-content: center;
  align-items: center; }

.theme-form-group {
  display: flex;
  padding-right: 4rem; }

.theme-form-control {
  display: block;
  width: 100%;
  padding: .3rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: none;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
  .theme-form-control:focus {
    outline: none; }

.social-buttons {
  display: flex; }
  .social-buttons .btn-social {
    margin-right: 10px; }

.flex-row {
  display: flex;
  align-items: center; }
  .flex-row > *:nth-child(n+2) {
    margin-left: 15px !important; }

.flex-align-start {
  align-items: flex-start; }

.flex-align-stretch {
  align-items: stretch; }

.btn-link, .btn-link:hover {
  color: #F82462; }

a, a:hover {
  color: inherit;
  text-decoration: none; }

.breadcrumb {
  background: transparent;
  margin: 0;
  padding: 0;
  font-size: 12px;
  margin-bottom: 10px; }

.theme-table {
  background-color: #ffffff !important;
  text-align: left;
  border: 20px solid #f4f5f6;
  margin-top: 15px; }
  .theme-table th {
    font-weight: lighter;
    color: #6c757d !important; }
  .theme-table .gear p, .theme-table .rental-period p {
    margin: 0.25rem;
    text-align: left; }
  .theme-table td {
    vertical-align: middle; }
    .theme-table td .gear-img {
      width: 70%; }
    .theme-table td .landrord-img {
      width: 25%;
      border-radius: 50%; }

.dropdown-toggle {
  background: white;
  color: black;
  border: 1px solid lightgray;
  width: 100%;
  text-align: left; }
  .dropdown-toggle::after {
    position: absolute;
    right: 10px;
    top: 50%; }

.breadcrumb .active {
  font-weight: bold; }

.app-error {
  position: fixed;
  top: 10px;
  right: 0;
  width: 500px;
  z-index: 10000;
  display: flex;
  align-items: center; }

.app-error-text {
  flex: 1; }

.app-error-close {
  margin-left: 15px;
  cursor: pointer; }

.file-input-container {
  position: relative; }
  .file-input-container input[type="file"] {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; }

img {
  object-fit: cover; }

@media (max-width: 500px) {
  .mt-xs {
    margin-top: 10px; }
  .centered-content {
    margin: 0;
    padding: 15px !important; }
  .social-buttons .btn-social {
    font-size: 12px; }
    .social-buttons .btn-social span {
      font-size: 14px; } }

h1 {
  font-family: 'GothamPro';
  color: #252525;
  font-size: 49px;
  font-weight: bold; }

h2 {
  font-family: 'GothamPro';
  color: #252525;
  font-size: 43px;
  font-weight: bold; }

h3, .theme-page-title {
  font-family: 'GothamPro';
  color: #252525;
  font-size: 32px;
  font-weight: bold; }

h4 {
  font-family: 'GothamPro-Bold';
  color: #252525;
  font-size: 20px;
  font-weight: bold; }

h5 {
  font-family: 'GothamPro-Bold';
  color: #252525;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 9%; }

h6 {
  font-family: 'GothamPro-Bold';
  color: #252525;
  font-size: 16px;
  letter-spacing: 9%; }

/*
* default font is set in body ,html tag
* default font is "Helvetica Neue"
*/
.theme-big-text {
  font-size: 9rem !important;
  color: #f4f5f6 !important;
  padding: 4rem 0 0 !important;
  opacity: 0.6;
  margin-bottom: -15px;
  font-weight: bold;
  text-align: center; }

.theme-text-small, .home .home-head .list-group {
  font-size: 12px;
  line-height: 126%; }

.theme-text-bold {
  font-size: 14px;
  line-height: 144%;
  font-weight: bold; }

.theme-text-small-bold {
  font-size: 12px;
  line-height: 126%;
  font-weight: bold; }

.theme-text-primary {
  color: #F82462;
  font-weight: bold; }

.text-gray {
  color: #999; }

@media (max-width: 676px) {
  .theme-big-text {
    font-size: 4rem !important;
    line-height: 120%;
    display: none; } }

.theme-btn, .theme-btn-submit {
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 8px 15px;
  line-height: 1.5;
  min-width: 100px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
  .theme-btn:focus, .theme-btn-submit:focus {
    outline: none; }
  .theme-btn a, .theme-btn-submit a {
    display: inline-flex;
    justify-content: center;
    align-items: center; }

.theme-btn-primary, .theme-btn-submit {
  background-color: #F82462;
  color: #ffffff; }
  .theme-btn-primary:hover, .theme-btn-submit:hover {
    background-color: #FA6691;
    color: #ffffff; }

.theme-btn-secondery {
  border: 1px solid #666;
  background-color: #ffffff;
  color: #3A3A3A; }
  .theme-btn-secondery:hover {
    background-color: #252525;
    color: #ffffff; }

.theme-btn-outline-white {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff; }
  .theme-btn-outline-white:hover {
    background-color: #ffffff;
    color: #F82462; }

.theme-btn-filled-white {
  border: 1px solid #FA6691;
  background-color: #ffffff;
  color: #F82462; }
  .theme-btn-filled-white:hover {
    background-color: #ffffff;
    opacity: 0.8; }

.theme-btn-outline-pink {
  background-color: #F82462;
  border: 1px solid #FA6691;
  color: #ffffff; }
  .theme-btn-outline-pink:hover {
    background-color: #ffffff;
    color: #F82462; }

.theme-btn-primary-light {
  background-color: #FA6691;
  color: #ffffff; }
  .theme-btn-primary-light:hover {
    background-color: #ffffff;
    color: #F82462; }

.theme-btn-submit {
  width: 300px; }

.theme-btn-link {
  padding: 0;
  display: flex; }
  .theme-btn-link a {
    display: block;
    height: 100%;
    width: 100%;
    padding: 8px 15px; }

.btn-social {
  color: #ffffff;
  display: flex;
  width: 160px;
  justify-content: center; }
  .btn-social span {
    font-size: 20px;
    margin-right: 10px; }

.btn-fb {
  background-color: #3b5998; }

.btn-vimeo {
  background-color: #1ab7ea; }

.btn-insta {
  background-color: #e1306c; }

.btn-twitter {
  background-color: #4287F6; }

.btn-google-plus {
  background-color: #E03B1A; }

.btn-available {
  background-color: #ffffff;
  border: 1px solid #066306;
  color: #066306;
  padding: 0;
  width: 100px;
  height: 30px;
  text-transform: capitalize; }

.btn-rented {
  background-color: #ffffff;
  border: 1px solid orange;
  color: orange;
  padding: 0;
  width: 100px;
  height: 30px;
  text-transform: capitalize; }

@media (max-width: 500px) {
  .theme-btn, .theme-btn-submit {
    padding: 5px 10px; } }

.theme-form {
  margin: 15px 0; }
  .theme-form .theme-form-field {
    margin: 8px 0px;
    display: flex;
    width: 400px; }
  .theme-form input[type="checkbox"] {
    height: 20px;
    width: 20px;
    position: inherit;
    margin: 0;
    margin-right: 5px; }

.custom-input {
  width: 100%;
  position: relative; }
  .custom-input .placeholder-label {
    position: absolute;
    top: -10px;
    left: 10px;
    opacity: .5;
    font-size: 10px;
    text-transform: uppercase; }
  .custom-input .label {
    color: #ffffff;
    display: none; }
  .custom-input ::placeholder {
    color: inherit;
    opacity: 0.5; }
  .custom-input .form-control {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
    height: calc(2rem + 2px); }
    .custom-input .form-control:focus {
      outline: none;
      box-shadow: none; }
  .custom-input.custom-input-with-icon .fa {
    position: absolute;
    font-size: 12px;
    bottom: 10px;
    left: 5px;
    opacity: 0.5; }
  .custom-input.custom-input-with-icon .placeholder-label {
    left: 20px; }
  .custom-input.custom-input-with-icon input {
    padding-left: 20px; }

.gear-carousel {
  width: 100%; }
  .gear-carousel .carousel-item {
    height: 200px;
    overflow: hidden; }
  .gear-carousel img {
    height: 100%; }
  .gear-carousel .carousel-image-container {
    height: 100%;
    text-align: center; }

.theme-navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px; }
  .theme-navbar .app-nav-logo {
    margin: -10px 0 0 15px; }
  .theme-navbar .button-toggle {
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 555;
    cursor: pointer; }
    .theme-navbar .button-toggle:focus {
      outline: none; }
    .theme-navbar .button-toggle .fa-bars, .theme-navbar .button-toggle .fa-times {
      font-size: 25px;
      color: #ffffff; }
  .theme-navbar .collapse {
    display: none; }
  .theme-navbar .theme-menu.uncollapse {
    overflow: hidden;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 333;
    background-color: #0809086e;
    padding: 10rem 5rem;
    height: 100vh; }
    .theme-navbar .theme-menu.uncollapse .fa-arrow-right {
      position: absolute;
      z-index: 555;
      right: 63px;
      bottom: 15px;
      color: white;
      font-size: 3rem; }
    .theme-navbar .theme-menu.uncollapse .theme-menu-content {
      position: relative;
      z-index: 555; }
    .theme-navbar .theme-menu.uncollapse .theme-menu-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: #F82462;
      transform: skewX(-8deg) translateX(-52px) skewY(-2deg) translateY(-68px);
      border-radius: 2px; }
  .theme-navbar .uncollapse .wrraper {
    width: 100%; }
    .theme-navbar .uncollapse .wrraper ul {
      list-style: none;
      margin: 0; }
      .theme-navbar .uncollapse .wrraper ul li a {
        font-size: 2.5rem;
        font-weight: 700;
        text-decoration: none;
        color: #ffffff;
        line-height: 150%; }
    .theme-navbar .uncollapse .wrraper p {
      color: #ffffff;
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase; }
      .theme-navbar .uncollapse .wrraper p .theme-text-small, .theme-navbar .uncollapse .wrraper p .home .home-head .list-group, .home .home-head .theme-navbar .uncollapse .wrraper p .list-group {
        opacity: 0.8;
        text-transform: capitalize; }
    .theme-navbar .uncollapse .wrraper .fab {
      font-size: 2rem;
      margin-right: 20px; }
  .theme-navbar .theme-nav-right {
    position: relative;
    z-index: 444;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
    list-style: none;
    margin-left: auto;
    align-items: center;
    padding: 20px; }
    .theme-navbar .theme-nav-right li {
      display: flex; }
      .theme-navbar .theme-nav-right li > a {
        display: block;
        padding: .55rem 1rem;
        color: #ffffff;
        text-decoration: none; }
    .theme-navbar .theme-nav-right .dropdown-toggle {
      background: transparent;
      border: none;
      color: white;
      padding-right: 30px; }
      .theme-navbar .theme-nav-right .dropdown-toggle img {
        height: 32px;
        width: 32px;
        border-radius: 50%; }
      .theme-navbar .theme-nav-right .dropdown-toggle:focus {
        box-shadow: none; }
    .theme-navbar .theme-nav-right .dropdown-menu {
      padding: 0;
      width: 100%; }
      .theme-navbar .theme-nav-right .dropdown-menu .dropdown-item {
        background: #F82462;
        padding: 10px;
        color: white;
        border-bottom: 1px solid lightgray; }

@media (max-width: 500px) {
  .theme-navbar {
    padding-top: 10px;
    padding-left: 0; }
  .theme-navbar .theme-nav-right {
    flex-wrap: nowrap;
    justify-content: right;
    margin: 0 auto;
    padding: 0;
    padding-top: 10px;
    border-top: 1px solid #FA6691; }
    .theme-navbar .theme-nav-right li a {
      padding: .3rem; } }

@media (max-width: 500px) and (max-width: 500px) {
  .theme-nav-left {
    padding-left: 10px; }
  .theme-nav-right {
    z-index: 0 !important; }
  .theme-menu {
    overflow: none;
    background-color: #f82462;
    height: 0 !important;
    min-height: 100vh;
    padding: 4rem 1rem 0 !important; }
  .theme-menu-bg {
    transform: none !important; } }

.theme-1 {
  text-align: left;
  height: 270px;
  margin-bottom: 1rem;
  position: relative; }
  .theme-1 .card-img {
    height: 100%; }
  .theme-1 .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 1.25rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
    .theme-1 .overlay .card-title {
      color: #ffffff;
      margin-bottom: 0;
      padding: .75rem;
      border-bottom: 1px solid #f8f8f8; }
      .theme-1 .overlay .card-title .gear-title {
        color: #ffffff; }
    .theme-1 .overlay .card-text {
      display: flex;
      padding: 0.5rem 1.25rem; }
      .theme-1 .overlay .card-text .price {
        font-weight: bold;
        font-size: 1.5rem; }
      .theme-1 .overlay .card-text .arrow {
        width: 30px;
        height: 30px;
        margin-left: auto;
        background-image: url("/images/Icons/Table/Arrow/Hover.svg");
        background-repeat: no-repeat; }

.theme-2 {
  width: auto;
  height: 270px; }
  .theme-2 .wrraper {
    background-color: #f82462b8;
    height: 100%; }
    .theme-2 .wrraper img {
      height: 100%; }
    .theme-2 .wrraper .overlay {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: #f82462b8;
      padding: 1rem 3rem;
      padding-right: 1rem; }
      .theme-2 .wrraper .overlay img {
        position: absolute;
        left: -20px;
        top: -5px;
        width: 60px;
        height: 60px;
        border-radius: 50%; }
      .theme-2 .wrraper .overlay .card-text {
        display: flex; }
        .theme-2 .wrraper .overlay .card-text .views {
          margin-left: auto; }
  .theme-2:hover .wrraper .overlay {
    background-color: #F82462; }

.card-footer {
  width: 98%;
  margin-left: auto;
  background: transparent;
  border: none;
  border-left: 2px solid #f8246224;
  border-bottom: 2px solid #f8246224;
  margin-top: 20px; }
  .card-footer:last-child {
    border-radius: 0; }
    .card-footer:last-child p {
      color: #3A3A3A;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 0.25rem; }

header {
  background-color: #F82462;
  position: relative;
  z-index: 1000; }

footer .footer-bottom p, footer .footer-bottom a {
  font-size: 0.75rem;
  line-height: 126%;
  color: #999 !important;
  margin-bottom: 0; }

footer .footer-bottom .copyright {
  display: flex;
  align-items: center;
  height: 100%; }

footer .footer-nav .nav {
  height: 100%;
  justify-content: center;
  align-items: center; }
  footer .footer-nav .nav a {
    font-size: 0.75rem;
    line-height: 126%;
    color: #3A3A3A; }

footer .hr-light {
  color: #f3f3f3; }

footer .Social-contects .email, footer .Social-contects .phone {
  display: flex;
  justify-content: flex-end; }
  footer .Social-contects .email p, footer .Social-contects .phone p {
    line-height: 1.7em; }

footer .Social-contects .fa-envelope-o, footer .Social-contects .fa-phone {
  font-size: 2rem;
  color: #3A3A3A; }

@media (max-width: 500px) {
  footer .logo {
    display: none; }
  footer .email, footer .phone {
    justify-content: center  !important;
    margin-top: 10px; } }

.fixed {
  position: fixed !important;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden; }
  .fixed .cart, .fixed .fav {
    background: white;
    margin-bottom: 1rem;
    padding: 6px 10px;
    text-align: center;
    transform: skewX(-8deg) translateX(5px);
    box-shadow: 2px 2px 14px 0px #1413141f;
    border-radius: 2px; }
    .fixed .cart span, .fixed .fav span {
      font-size: 11px;
      font-weight: 800;
      color: #F82462;
      margin: 0 auto; }
  .fixed .cart-icon {
    background-image: url("/images/Icons/cart/cart.svg"); }
  .fixed .fav-icon {
    background-image: url("/images/Icons/cart/fav.svg"); }
  .fixed .cart-icon, .fixed .fav-icon {
    display: block;
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat; }

@media (max-width: 700px) {
  .fixed {
    display: none !important; } }

.home {
  height: 100%;
  width: 100%; }
  .home .rent-categories button {
    padding: 0px; }
    .home .rent-categories button:not(:first-child) {
      margin-left: 10px; }
  .home .home-head {
    background-color: #F82462;
    margin-bottom: 15px;
    color: #ffffff;
    height: calc(100vh - 76px); }
    .home .home-head .title {
      color: #ffffff;
      font-size: 36px;
      font-weight: 800;
      margin-bottom: 15px; }
    .home .home-head .bold {
      font-weight: bold; }
    .home .home-head .logo {
      margin: 60px 0; }
    .home .home-head .theme-btn img, .home .home-head .theme-btn-submit img {
      height: 32px;
      margin-right: 5px; }
    .home .home-head .theme-form {
      display: flex;
      margin-top: 30px;
      align-items: flex-end;
      max-width: 800px; }
      .home .home-head .theme-form button {
        width: auto; }
    .home .home-head input {
      color: white; }
    .home .home-head .list-group {
      max-height: 200px;
      overflow: auto; }
      .home .home-head .list-group .list-group-item {
        border-radius: 0;
        color: #333;
        padding: 5px 15px;
        border: 0;
        cursor: pointer; }
    .home .home-head .location-input {
      flex: 1;
      margin-right: 15px;
      position: relative; }
    .home .home-head .search-input {
      flex: 1.5;
      position: relative;
      margin-right: 15px; }
    .home .home-head .search-suggestions {
      width: 100%;
      position: absolute; }
  .home .home-body .theme-row {
    justify-content: space-between; }
    .home .home-body .theme-row .wrapper {
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 444; }
  .home .home-body .new_arrival {
    background-image: url("/images/1(1).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    margin: 4rem 0 0;
    text-align: center; }
    .home .home-body .new_arrival .section-overlay {
      padding: 2rem 0;
      background-color: rgba(255, 255, 255, 0.95); }
  .home .home-body .stories {
    background-color: #f3f3f3;
    padding: 3rem 0; }
  .home .home-body .payments img {
    width: 100%; }

.block-el {
  position: relative;
  width: 30%;
  height: 200px;
  padding: 30px;
  margin: 10px;
  float: left; }

.block-el:hover .block-bg {
  background-color: #F82462; }

.block-el:hover .block-content span {
  color: #ffffff; }

.block-el:hover .block-content button {
  display: block; }

.block-el:hover .block-content #camera {
  background-image: url("/images/Icons/catogories/1 (12).jpg"); }

.block-el:hover .block-content #computer_electronic {
  background-image: url("/images/Icons/catogories/1 (13).jpg"); }

.block-el:hover .block-content #drones {
  background-image: url("/images/Icons/catogories/1 (14).jpg"); }

.block-el:hover .block-content #lenses {
  background-image: url("/images/Icons/catogories/1 (15).jpg"); }

.block-el:hover .block-content #lighting {
  background-image: url("/images/Icons/catogories/1 (16).jpg"); }

.block-el:hover .block-content #audio {
  background-image: url("/images/Icons/catogories/1 (17).jpg"); }

.block-el:hover .block-content #tripods_stabilization_rigs {
  background-image: url("/images/Icons/catogories/1 (18).jpg"); }

.block-el:hover .block-content #camera_accessories {
  background-image: url("/images/Icons/catogories/1 (19).jpg"); }

.block-el:hover .block-content #studio_spaces {
  background-image: url("/images/Icons/catogories/1 (20).jpg"); }

.block-el:hover .block-content #office_spaces {
  background-image: url("/images/Icons/catogories/1 (21).jpg"); }

.block-el:hover .block-content #others {
  background-image: url("/images/Icons/catogories/1 (22).jpg"); }

.block-content {
  position: relative;
  z-index: 3333;
  height: 100%;
  display: flex;
  align-items: center; }
  .block-content button {
    display: none; }
  .block-content span {
    margin-bottom: 1rem; }
  .block-content p {
    flex: 1;
    width: 100px;
    height: 100px;
    margin: 0; }
  .block-content div.desc {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .block-content #camera {
    background-image: url("/images/Icons/catogories/1 (1).jpg");
    background-repeat: no-repeat;
    background-position: center; }
  .block-content #computer_electronic {
    background-image: url("/images/Icons/catogories/1 (2).jpg");
    background-repeat: no-repeat;
    background-position: center; }
  .block-content #drones {
    background-image: url("/images/Icons/catogories/1 (3).jpg");
    background-repeat: no-repeat;
    background-position: center; }
  .block-content #lenses {
    background-image: url("/images/Icons/catogories/1 (4).jpg");
    background-repeat: no-repeat;
    background-position: center; }
  .block-content #lighting {
    background-image: url("/images/Icons/catogories/1 (5).jpg");
    background-repeat: no-repeat;
    background-position: center; }
  .block-content #audio {
    background-image: url("/images/Icons/catogories/1 (6).jpg");
    background-repeat: no-repeat;
    background-position: center; }
  .block-content #tripods_stabilization_rigs {
    background-image: url("/images/Icons/catogories/1 (7).jpg");
    background-repeat: no-repeat;
    background-position: center; }
  .block-content #camera_accessories {
    background-image: url("/images/Icons/catogories/1 (8).jpg");
    background-repeat: no-repeat;
    background-position: center; }
  .block-content #studio_spaces {
    background-image: url("/images/Icons/catogories/1 (9).jpg");
    background-repeat: no-repeat;
    background-position: center; }
  .block-content #office_spaces {
    background-image: url("/images/Icons/catogories/1 (10).jpg");
    background-repeat: no-repeat;
    background-position: center; }
  .block-content #others {
    background-image: url("/images/Icons/catogories/1 (11).jpg");
    background-repeat: no-repeat;
    background-position: center; }

.block-el > .block-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #ffffff;
  transform: skewX(-15deg);
  box-shadow: 2px 2px 17px 0px #eceaea;
  border-radius: 2px; }

.block-el:first-child .block-bg::before {
  content: '';
  position: absolute;
  z-index: 333;
  width: 65px;
  height: 210px;
  transform: skewX(15deg) translateX(-35px);
  background-color: #fff; }

.block-el:last-child .block-bg::before {
  content: '';
  position: absolute;
  right: -74px;
  top: -10px;
  z-index: 333;
  width: 65px;
  height: 210px;
  -webkit-transform: skewX(15deg) translateX(-35px);
  transform: skewX(15deg) translateX(-35px);
  background-color: #ffff; }

.search-results-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap; }

@media (max-width: 500px) {
  .home {
    text-align: center; }
    .home .home-head .title {
      font-size: 36px;
      font-weight: 500;
      line-height: 30px; }
    .home .home-head .desc {
      width: 75%;
      margin: 0 auto; }
    .home .rent-categories {
      display: none; }
    .home .theme-form {
      width: 75%;
      margin: 0 auto;
      display: block !important; }
    .home .theme-btn, .home .theme-btn-submit {
      display: block;
      width: 40px;
      margin-top: 10px; }
    .home .block-el {
      width: 80%;
      margin: 0 auto;
      float: none;
      margin-bottom: 20px; }
    .home .block-el:first-child .block-bg::before,
    .home .block-el:last-child .block-bg::before {
      display: none; } }

.about-us {
  width: 100%; }
  .about-us .about-us-head {
    background-color: #F82462;
    padding: 2.6rem 0;
    margin-bottom: 3rem; }
    .about-us .about-us-head .breadcrumb {
      margin: 0;
      padding-left: 0.5rem;
      margin-bottom: 4rem;
      color: #ffffff; }
      .about-us .about-us-head .breadcrumb .breadcrumb-item::before {
        color: #ffffff; }
      .about-us .about-us-head .breadcrumb .active {
        color: #ffffff;
        font-weight: 800; }
    .about-us .about-us-head h1 {
      color: #ffffff;
      margin-bottom: 2rem; }
    .about-us .about-us-head h4.intro, .about-us .about-us-head p {
      color: #ffffff; }
      .about-us .about-us-head h4.intro .bold, .about-us .about-us-head p .bold {
        font-weight: 700; }
    .about-us .about-us-head p.bread-crums {
      padding-top: 4rem; }
    .about-us .about-us-head p.about-desc {
      width: 80%;
      padding: 0;
      letter-spacing: 1px;
      line-height: 24px; }
    .about-us .about-us-head .about-cm {
      margin-left: -20px; }
    @media (max-width: 676px) {
      .about-us .about-us-head .about-cm {
        margin: 0;
        width: 100%;
        padding-top: 1rem;
        text-align: center; } }
  .about-us .about-us-body .team-members {
    margin-bottom: 4rem; }
    .about-us .about-us-body .team-members h2.our-team {
      text-align: center;
      margin-bottom: 3rem; }
    .about-us .about-us-body .team-members .card .card-title {
      bottom: 15%;
      color: #ffffff; }
    .about-us .about-us-body .team-members .card .card-text {
      bottom: 10%; }
  .about-us .about-us-body .press {
    margin-bottom: 4rem; }
    .about-us .about-us-body .press h2.press-title {
      text-align: center;
      margin-bottom: 3rem; }

.auth-sidemenu {
  background: #F82462;
  width: 30%; }
  .auth-sidemenu .button-toggle {
    position: absolute;
    left: 15px;
    top: 15px; }
  .auth-sidemenu .app-nav-logo {
    position: absolute;
    left: 15px;
    bottom: 15px; }

.auth-container {
  display: flex;
  width: 100%;
  padding: 0;
  height: 100vh;
  align-items: stretch;
  justify-content: flex-start; }

.login {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1; }
  .login .login-or-divider {
    margin-top: 15px; }
  .login .theme-btn-link {
    margin-left: 10px; }

.login.success-message .theme-btn-link {
  margin: 10px 0 0 0; }
  .login.success-message .theme-btn-link:nth-child(n + 2) {
    margin-left: 10px; }

@media (max-width: 500px) {
  .auth-sidemenu {
    width: 100%; } }

.register .social-buttons {
  margin-top: 5px; }

.register .btn-photo-upload {
  margin-left: 15px; }

.verification-code {
  padding-top: 15px; }

.dashboard {
  width: 100%; }
  .dashboard .dashboard-head {
    padding: 2.5rem 0 0;
    background-color: #f3f3f3; }
    .dashboard .dashboard-head .user-detail {
      padding-bottom: 2rem; }
      .dashboard .dashboard-head .user-detail .user-name {
        margin-bottom: 1.5rem; }
      .dashboard .dashboard-head .user-detail img {
        width: 150px;
        height: 150px;
        border-radius: 50%; }
      .dashboard .dashboard-head .user-detail p {
        margin-bottom: 0.25rem; }
    .dashboard .dashboard-head .nav-tabs {
      border: none;
      cursor: pointer; }
      .dashboard .dashboard-head .nav-tabs .nav-link {
        background-color: #f4f5f6;
        border: none;
        color: #3A3A3A;
        font-size: 0.85rem;
        font-weight: bold; }
      .dashboard .dashboard-head .nav-tabs .active {
        border-bottom: 2px solid #f82462; }
  .dashboard .dashboard-body {
    padding: 2rem 0; }
    .dashboard .dashboard-body .chart .wrraper {
      background-color: #f3f3f3;
      padding: 3rem;
      text-align: center; }
      .dashboard .dashboard-body .chart .wrraper .line-chart {
        background-color: #ffffff; }
      .dashboard .dashboard-body .chart .wrraper img {
        width: 100%; }
      .dashboard .dashboard-body .chart .wrraper .totel-listing, .dashboard .dashboard-body .chart .wrraper .totel-rental, .dashboard .dashboard-body .chart .wrraper .avaiable {
        background-color: #ffffff;
        margin-top: 1rem;
        padding: 2rem 1.5rem;
        text-align: left; }
    .dashboard .dashboard-body .account-detail .wrraper {
      background-color: #f3f3f3;
      padding: 3rem;
      text-align: center; }
      .dashboard .dashboard-body .account-detail .wrraper img {
        width: 100%; }
      .dashboard .dashboard-body .account-detail .wrraper .card-body {
        border: none;
        margin-bottom: 1.5rem;
        padding: 0 0 1.5rem; }
        .dashboard .dashboard-body .account-detail .wrraper .card-body .card-title {
          text-align: left;
          padding: 1rem 1.5rem;
          font-size: 0.85rem;
          letter-spacing: 1px;
          border-bottom: 1px solid #f8f8f8; }
        .dashboard .dashboard-body .account-detail .wrraper .card-body .card-text {
          padding: 0 1.5rem;
          margin-bottom: 1rem;
          text-align: left; }
          .dashboard .dashboard-body .account-detail .wrraper .card-body .card-text label {
            margin: 0; }
          .dashboard .dashboard-body .account-detail .wrraper .card-body .card-text .form-control {
            border: none;
            border-bottom: 2px solid #f3f3f3;
            border-radius: 0;
            height: calc(2rem + 2px); }
            .dashboard .dashboard-body .account-detail .wrraper .card-body .card-text .form-control:focus {
              outline: none;
              box-shadow: none; }
          .dashboard .dashboard-body .account-detail .wrraper .card-body .card-text .add-payment-method {
            border: 2px solid #f3f3f3;
            height: 100%; }
            .dashboard .dashboard-body .account-detail .wrraper .card-body .card-text .add-payment-method .add {
              width: 30px;
              height: 30px;
              background-color: #F82462;
              border-radius: 50%; }
              .dashboard .dashboard-body .account-detail .wrraper .card-body .card-text .add-payment-method .add .fa {
                color: #ffffff; }
            .dashboard .dashboard-body .account-detail .wrraper .card-body .card-text .add-payment-method:hover {
              background-color: #F82462; }
              .dashboard .dashboard-body .account-detail .wrraper .card-body .card-text .add-payment-method:hover .add {
                background-color: #ffffff; }
                .dashboard .dashboard-body .account-detail .wrraper .card-body .card-text .add-payment-method:hover .add .fa {
                  color: #F82462; }
        .dashboard .dashboard-body .account-detail .wrraper .card-body button {
          background-color: #F82462;
          margin: 0 2rem;
          border: none;
          border-radius: 0; }
    .dashboard .dashboard-body .my-listing a.theme-btn-primary, .dashboard .dashboard-body .my-listing a.theme-btn-submit {
      padding-top: 9px !important; }
    .dashboard .dashboard-body .my-listing .wrraper {
      background-color: #f3f3f3;
      padding: 3rem;
      text-align: center; }
      .dashboard .dashboard-body .my-listing .wrraper .listing-data-slice {
        background-color: #ffffff !important;
        text-align: left; }
        .dashboard .dashboard-body .my-listing .wrraper .listing-data-slice th {
          font-weight: lighter; }
        .dashboard .dashboard-body .my-listing .wrraper .listing-data-slice .gear p, .dashboard .dashboard-body .my-listing .wrraper .listing-data-slice .rental-period p {
          margin: 0.25rem;
          text-align: left; }
        .dashboard .dashboard-body .my-listing .wrraper .listing-data-slice td {
          vertical-align: middle; }
          .dashboard .dashboard-body .my-listing .wrraper .listing-data-slice td .gear-img {
            width: 70%; }
          .dashboard .dashboard-body .my-listing .wrraper .listing-data-slice td .landrord-img {
            width: 25%;
            border-radius: 50%; }
      .dashboard .dashboard-body .my-listing .wrraper .pagination {
        justify-content: center; }
        .dashboard .dashboard-body .my-listing .wrraper .pagination .page-link {
          color: #3A3A3A;
          background-color: transparent;
          border: none; }
          .dashboard .dashboard-body .my-listing .wrraper .pagination .page-link:focus {
            box-shadow: none; }
        .dashboard .dashboard-body .my-listing .wrraper .pagination .page-item.active .page-link {
          color: #F82462;
          border: none;
          border-bottom: 2px solid #F82462; }
    .dashboard .dashboard-body .my-listing .my-rental .wrraper {
      background-color: #f3f3f3;
      padding: 3rem;
      text-align: center; }

@media (max-width: 500px) {
  .wrraper {
    padding: 5px !important; } }

.add-gear {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10px; }
  .add-gear .flex-row {
    align-items: flex-start; }
  .add-gear .add-gear-progress {
    display: flex;
    width: 500px;
    margin-bottom: 15px; }
    .add-gear .add-gear-progress .add-gear-progress-item {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      opacity: 0.2;
      color: #F82462;
      position: relative; }
      .add-gear .add-gear-progress .add-gear-progress-item i {
        font-size: 32px;
        position: relative;
        z-index: 1000;
        background-color: white; }
      .add-gear .add-gear-progress .add-gear-progress-item.active {
        opacity: 1; }
      .add-gear .add-gear-progress .add-gear-progress-item:nth-child(n+2):before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        border-top: 1px solid #F82462;
        left: -50%;
        top: 16px; }
  .add-gear .type-tabs input {
    display: none; }
  .add-gear .type-tabs label {
    background: white;
    color: orange;
    padding: 5px 15px;
    border: 1px solid lightgray;
    display: inline-block;
    border-radius: 30px;
    margin-right: 5px; }
    .add-gear .type-tabs label.active {
      color: white;
      background-color: #00F077; }
  .add-gear .price-type-tabs input {
    display: none; }
  .add-gear .price-type-tabs label {
    color: orange;
    padding: 3px 10px;
    margin: 2px;
    border: 1px solid lightgray;
    display: inline-block;
    font-size: 12px; }
    .add-gear .price-type-tabs label.active {
      color: white;
      background-color: #00F077; }
  .add-gear .info-right-container {
    margin-left: 15px; }
  .add-gear .buttons-container {
    margin-bottom: 15px; }
    .add-gear .buttons-container button:not(:first-child) {
      margin-left: 15px; }
  .add-gear .add-gear-photos {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    min-height: 300px;
    width: 100%;
    max-width: 600px;
    margin: 15px;
    padding: 15px; }
  .add-gear .gear-carousel {
    margin-top: 15px;
    width: 300px; }
    .add-gear .gear-carousel img {
      width: 100%; }
  .add-gear .add-gear-price {
    display: flex;
    margin-bottom: 15px; }
    .add-gear .add-gear-price > div {
      margin-left: 15px; }
  .add-gear .gear-accessories-address {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgray; }
  .add-gear .gear-middle-container {
    width: 250px; }
  .add-gear .gear-right-container {
    width: 200px;
    border: 5px solid lightgray;
    padding: 5px 15px; }
    .add-gear .gear-right-container > * {
      margin-top: 8px; }
    .add-gear .gear-right-container .buttons-container {
      display: flex; }
      .add-gear .gear-right-container .buttons-container button {
        width: auto;
        min-width: auto; }
      .add-gear .gear-right-container .buttons-container .theme-btn-primary, .add-gear .gear-right-container .buttons-container .theme-btn-submit {
        flex: 1; }
    .add-gear .gear-right-container .custom-input {
      width: auto;
      flex: 1; }
  .add-gear .success-message {
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid lightgray;
    padding: 10px; }
    .add-gear .success-message > * {
      margin-top: 10px; }
    .add-gear .success-message .flex-row {
      justify-content: space-around;
      width: 100%; }
  .add-gear .add-gear-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }
    .add-gear .add-gear-images .add-gear-image, .add-gear .add-gear-images .add-gear-addimage {
      height: 100px;
      width: 100px;
      border: 1px solid lightgray;
      margin: 0 10px 10px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden; }
      .add-gear .add-gear-images .add-gear-image img, .add-gear .add-gear-images .add-gear-addimage img {
        width: 100%; }
    .add-gear .add-gear-images .add-gear-addimage i {
      font-size: 30px;
      color: #F82462; }

.view-gear {
  display: flex;
  width: 100%;
  padding: 15px; }
  .view-gear .breadcrumb {
    margin-left: 15px; }
  .view-gear .left-container {
    flex: 1;
    border: 1px solid lightgray;
    padding: 10px; }
  .view-gear .right-container {
    flex: 2;
    display: flex; }
  .view-gear .gear-info {
    flex: 1;
    margin: 0 15px 15px 15px; }
  .view-gear .gear-purchase {
    width: 200px;
    border: 5px solid lightgray;
    text-align: center; }
    .view-gear .gear-purchase > div:not(:last-child) {
      padding: 10px 0;
      border-bottom: 1px solid lightgray; }
    .view-gear .gear-purchase .bottom-buttons {
      padding: 5px 10px; }
      .view-gear .gear-purchase .bottom-buttons > * {
        width: auto;
        min-width: auto; }
      .view-gear .gear-purchase .bottom-buttons .theme-btn-primary, .view-gear .gear-purchase .bottom-buttons .theme-btn-submit {
        flex: 1; }

.cart .cart-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center; }
  .cart .cart-header button:nth-child(n+2) {
    margin-left: 15px; }

.checkout .billing-address, .checkout .order-info {
  margin-top: 15px;
  border: 15px solid #f4f5f6;
  flex: 1;
  padding: 15px; }
  .checkout .billing-address .checkout-header, .checkout .order-info .checkout-header {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .checkout .billing-address .theme-form, .checkout .order-info .theme-form {
    display: flex;
    flex-direction: column; }
    .checkout .billing-address .theme-form .theme-form-field, .checkout .order-info .theme-form .theme-form-field {
      width: auto; }

.checkout .order-info {
  margin-left: 15px; }

.checkout .checkout-items {
  margin: 15px 0; }
  .checkout .checkout-items .checkout-item {
    display: flex;
    justify-content: space-between;
    padding: 5px; }

.checkout .checkout-total {
  padding: 15px 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  text-align: right; }

.checkout .checkout-total > *, .checkout .checkout-amount > * {
  padding: 5px 0; }

.checkout .checkout-total span, .checkout .checkout-amount span {
  display: inline-block;
  margin-right: 8px; }

.checkout .checkout-amount {
  margin-top: 15px;
  text-align: right; }

.checkout .bottom-buttons {
  margin-top: 15px; }

.payment .payment-card {
  border: 1px solid lightgray;
  padding: 10px;
  width: 300px; }
  .payment .payment-card .payment-card-number {
    font-weight: bold;
    margin-top: 20px; }
  .payment .payment-card .payment-card-other {
    justify-content: space-between;
    margin-top: 20px; }

.payment-success-message h1, .payment-success-message .theme-page-title {
  text-align: center; }

.payment-success-message .payment-success-info {
  margin-top: 15px;
  display: flex;
  border: 10px solid lightgray;
  padding: 15px;
  justify-content: space-between; }
  .payment-success-message .payment-success-info span {
    width: 80px;
    display: inline-block;
    padding: 3px 0; }
  .payment-success-message .payment-success-info .payment-status {
    padding: 5px 10px;
    color: white;
    background: green; }
  .payment-success-message .payment-success-info .checkout-amount {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid lightgray; }

.payment-success-message .payment-card {
  width: auto; }

.payment-success-message .bottom-buttons {
  margin-top: 15px;
  align-items: center;
  justify-content: center; }

.list-gear .list-gear-head {
  padding-top: 3rem;
  margin-bottom: 2rem; }
  .list-gear .list-gear-head .theme-page-title {
    margin-bottom: 0; }

.list-gear .list-gear-body {
  margin: 0 0 3rem; }
  .list-gear .list-gear-body .wrraper {
    background-color: #f3f3f3;
    padding: 3rem;
    text-align: center; }
    .list-gear .list-gear-body .wrraper .listing-data-slice {
      background-color: #ffffff !important;
      text-align: left; }
      .list-gear .list-gear-body .wrraper .listing-data-slice th {
        padding: 1.7rem 1rem;
        font-weight: bold; }
      .list-gear .list-gear-body .wrraper .listing-data-slice td {
        padding: .5rem 1rem;
        border-top: none !important;
        vertical-align: middle; }
        .list-gear .list-gear-body .wrraper .listing-data-slice td p {
          font-size: 14px; }
        .list-gear .list-gear-body .wrraper .listing-data-slice td .gear-img {
          width: 70%; }
        .list-gear .list-gear-body .wrraper .listing-data-slice td .close {
          display: inline-block;
          width: 30px;
          height: 30px;
          background-image: url("/images/Icons/cart/cross-g.svg"); }
        .list-gear .list-gear-body .wrraper .listing-data-slice td .edit {
          display: inline-block;
          width: 30px;
          height: 30px;
          background-image: url("/images/Icons/cart/edit-p.svg"); }
      .list-gear .list-gear-body .wrraper .listing-data-slice .gear p {
        margin: 0.25rem !important;
        text-align: left; }
    .list-gear .list-gear-body .wrraper .pagination {
      justify-content: center; }
      .list-gear .list-gear-body .wrraper .pagination .page-link {
        color: #3A3A3A;
        background-color: transparent;
        border: none; }
        .list-gear .list-gear-body .wrraper .pagination .page-link:focus {
          box-shadow: none; }
      .list-gear .list-gear-body .wrraper .pagination .page-item.active .page-link {
        color: #F82462;
        border: none;
        border-bottom: 2px solid #F82462; }

@media (max-width: 500px) {
  .wrraper {
    padding: 1rem !important; } }

.rent-gear .rent-gear-head {
  padding-top: 3rem;
  margin-bottom: 2rem; }
  .rent-gear .rent-gear-head .theme-page-title {
    margin-bottom: 0; }

.rent-gear .rent-gear-body {
  margin-bottom: 3rem; }
  .rent-gear .rent-gear-body .sidebar {
    padding: 10px 0;
    background-color: #f8f8f8; }
    .rent-gear .rent-gear-body .sidebar .sidebar-title {
      position: relative;
      display: block;
      padding: .85rem 1.25rem; }
    .rent-gear .rent-gear-body .sidebar .sidebar-wrapper .list-group .list-group-item {
      background-color: transparent;
      border: none;
      padding: 0; }
      .rent-gear .rent-gear-body .sidebar .sidebar-wrapper .list-group .list-group-item div {
        position: relative;
        padding: .8rem 1.25rem; }
      .rent-gear .rent-gear-body .sidebar .sidebar-wrapper .list-group .list-group-item:hover {
        background-color: #f3f3f3; }
    .rent-gear .rent-gear-body .sidebar .sidebar-wrapper .list-group .list-group-item > .item-active {
      background-color: #F82462;
      color: #ffffff; }
      .rent-gear .rent-gear-body .sidebar .sidebar-wrapper .list-group .list-group-item > .item-active::after {
        content: "";
        position: absolute;
        right: -17px;
        top: 7px;
        z-index: 444;
        border: 17px solid;
        border-color: #F82462 #F82462 transparent transparent;
        transform: rotate(45deg); }
  .rent-gear .rent-gear-body .main-wrapper {
    padding-left: 30px; }
    .rent-gear .rent-gear-body .main-wrapper .main_head {
      margin-bottom: 20px; }
      .rent-gear .rent-gear-body .main-wrapper .main_head div {
        display: flex;
        align-items: center; }
    .rent-gear .rent-gear-body .main-wrapper .search {
      flex: 3; }
      .rent-gear .rent-gear-body .main-wrapper .search .theme-form {
        margin: 0;
        display: flex;
        align-items: flex-end;
        height: 100%;
        max-width: 800px;
        width: 100%; }
        .rent-gear .rent-gear-body .main-wrapper .search .theme-form .location-input {
          flex: 1;
          margin-right: 15px;
          position: relative; }
        .rent-gear .rent-gear-body .main-wrapper .search .theme-form .search-input {
          flex: 1.5;
          position: relative;
          margin-right: 15px; }
    .rent-gear .rent-gear-body .main-wrapper .views {
      flex: 1;
      display: flex;
      justify-content: center;
      border: none; }
      .rent-gear .rent-gear-body .main-wrapper .views .card-view, .rent-gear .rent-gear-body .main-wrapper .views .list-view, .rent-gear .rent-gear-body .main-wrapper .views .table-view {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 1px solid #F82462;
        color: #F82462; }
        .rent-gear .rent-gear-body .main-wrapper .views .card-view .fa, .rent-gear .rent-gear-body .main-wrapper .views .list-view .fa, .rent-gear .rent-gear-body .main-wrapper .views .table-view .fa {
          font-size: 1.3rem; }
      .rent-gear .rent-gear-body .main-wrapper .views .table-view {
        display: flex;
        flex-direction: column; }
        .rent-gear .rent-gear-body .main-wrapper .views .table-view .fa:first-child {
          padding-top: 8px;
          line-height: 0; }
      .rent-gear .rent-gear-body .main-wrapper .views .nav-item {
        margin-right: 8px; }
        .rent-gear .rent-gear-body .main-wrapper .views .nav-item .nav-link {
          padding: 0;
          border: none; }
        .rent-gear .rent-gear-body .main-wrapper .views .nav-item .active {
          background-color: #F82462; }
          .rent-gear .rent-gear-body .main-wrapper .views .nav-item .active .fa {
            color: #ffffff; }
    .rent-gear .rent-gear-body .main-wrapper .gear_list_view {
      border: none;
      background-color: #f3f3f3;
      margin-bottom: 1.5rem;
      position: relative;
      transition: all 0.6s ease-in-out;
      flex-direction: row; }
      .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-img {
        flex-basis: 25%;
        display: flex;
        align-items: center; }
        .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-img .card-img-top {
          padding: 10px;
          height: 180px; }
      .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body {
        flex-basis: 75%;
        padding: 0;
        text-align: left;
        display: flex; }
        .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body .card-center {
          flex: 2;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body .card-center .card-title {
            text-transform: uppercase;
            font-size: 0.9rem;
            margin-bottom: 12px; }
          .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body .card-center .card-subtitle {
            font-size: 0.7rem;
            font-weight: 100;
            margin-bottom: 15px;
            color: #666; }
            .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body .card-center .card-subtitle .stars {
              color: #F82462; }
            .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body .card-center .card-subtitle .fa-map-marker {
              color: #F82462; }
          .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body .card-center .card-text {
            font-size: 0.8rem;
            letter-spacing: 0.5px;
            color: #666; }
        .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body .card-right {
          flex: 1;
          border-left: 1px solid #ddd;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 10px; }
          .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body .card-right .card-text {
            margin: 0;
            margin-bottom: 0.8rem; }
            .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body .card-right .card-text .price {
              font-size: 1.5rem;
              font-weight: bold; }
          .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body .card-right .buttons {
            width: 100%;
            text-align: center; }
            .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body .card-right .buttons .cart {
              width: 60%;
              border-radius: 0;
              background-color: #F82462;
              border: none;
              color: #ffffff;
              margin-right: 10px; }
            .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body .card-right .buttons .fav {
              width: 20%;
              border: 1px solid #FA6691;
              background-color: #fff;
              border-radius: 0;
              color: #F82462; }
      .rent-gear .rent-gear-body .main-wrapper .gear_list_view:hover {
        transition: all 0.6s ease-in-out; }
    .rent-gear .rent-gear-body .main-wrapper .gear_table_view {
      border: none;
      background-color: #f3f3f3;
      margin-bottom: 1.5rem;
      position: relative;
      transition: all 0.6s ease-in-out;
      flex-direction: row; }
      .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-img {
        flex-basis: 15%;
        display: flex;
        align-items: center; }
        .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-img .card-img-top {
          padding: 10px;
          height: 100px; }
      .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body {
        flex-basis: 85%;
        padding: 0;
        text-align: left;
        display: flex; }
        .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-center {
          flex: 3;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 10px; }
          .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-center .card-title {
            text-transform: uppercase;
            font-size: 0.9rem;
            margin-bottom: 15px; }
          .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-center .card-subtitle {
            font-size: 0.7rem;
            font-weight: 100;
            color: #666; }
            .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-center .card-subtitle .stars {
              color: #F82462; }
            .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-center .card-subtitle .fa-map-marker {
              color: #F82462; }
        .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-right {
          flex: 2;
          border-left: 1px solid #ddd;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px; }
          .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-right .card-text {
            text-align: center;
            margin: 0;
            flex: 1; }
            .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-right .card-text .price {
              font-size: 1.5rem;
              font-weight: bold; }
          .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-right .buttons {
            width: 100%;
            text-align: center;
            flex: 1;
            box-sizing: border-box; }
            .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-right .buttons .cart {
              width: 35%;
              border-radius: 0;
              border: 1px solid #FA6691;
              background-color: transparent;
              color: #F82462;
              margin-right: 10px; }
              .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-right .buttons .cart:hover {
                background-color: #F82462;
                color: #ffffff; }
            .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-right .buttons .fav {
              width: 35%;
              border: 1px solid #FA6691;
              background-color: transparent;
              border-radius: 0;
              color: #F82462; }
              .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-right .buttons .fav:hover {
                background-color: #F82462;
                color: #ffffff; }
      .rent-gear .rent-gear-body .main-wrapper .gear_table_view:hover {
        transition: all 0.6s ease-in-out; }

.gear_card_view {
  border: none;
  background-color: #f3f3f3;
  margin-bottom: 1.5rem;
  position: relative;
  transition: all 0.6s ease-in-out; }
  .gear_card_view .card-img-top {
    padding: 10px;
    height: 200px; }
  .gear_card_view .card-body {
    padding: 0;
    text-align: center; }
    .gear_card_view .card-body .card-title {
      border-bottom: 0.5px solid #ddd;
      padding: 10px;
      text-transform: uppercase;
      font-size: 0.9rem;
      margin: 0; }
    .gear_card_view .card-body .card-subtitle {
      border-bottom: 0.5px solid #ddd;
      font-size: 0.7rem;
      padding: 15px 10px 10px;
      font-weight: 100;
      color: #666; }
      .gear_card_view .card-body .card-subtitle .stars {
        color: #F82462; }
      .gear_card_view .card-body .card-subtitle .fa-map-marker {
        color: #F82462; }
    .gear_card_view .card-body .card-text {
      margin: 0;
      padding: 15px; }
      .gear_card_view .card-body .card-text .price {
        font-size: 1.5rem;
        font-weight: bold; }
    .gear_card_view .card-body .buttons {
      display: none;
      position: absolute;
      bottom: -35px;
      z-index: 444;
      left: 0;
      width: 100%; }
      .gear_card_view .card-body .buttons .cart {
        width: 80%;
        border-radius: 0;
        background-color: #F82462;
        border: none;
        color: #ffffff; }
      .gear_card_view .card-body .buttons .fav {
        width: 20%;
        border: none;
        border-radius: 0;
        background-color: #f9ebf0;
        color: #F82462; }
  .gear_card_view:hover {
    transition: all 0.6s ease-in-out; }
    .gear_card_view:hover .buttons {
      display: block; }

@media (max-width: 700px) {
  .main-wrapper {
    padding: 0 !important; }
  .rent-gear .rent-gear-body .sidebar .sidebar-wrapper .list-group .list-group-item > .item-active::after {
    display: none; }
  .search {
    margin-top: 2rem; }
  .views {
    margin-top: 1rem;
    justify-content: flex-start !important; }
  .card img {
    height: 100% !important; }
  .sidebar-wrapper .list-group {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0; }
  .sidebar-wrapper .list-group .list-group-item {
    flex: 30%;
    height: 100px;
    border: 1px solid #eee !important; }
    .sidebar-wrapper .list-group .list-group-item div {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
  .main-wrapper .gear_list_view {
    flex-direction: column !important; }
    .main-wrapper .gear_list_view .card-body {
      padding: 1rem !important; }
      .main-wrapper .gear_list_view .card-body .card-right {
        padding: 0 !important; }
        .main-wrapper .gear_list_view .card-body .card-right .cart {
          margin-right: 0 !important; }
        .main-wrapper .gear_list_view .card-body .card-right .fav {
          width: auto !important; }
  .gear_table_view .card-body .card-right {
    display: block !important; }
  .gear_table_view .card-img .card-img-top {
    padding: 0 !important; } }

.partner .partner-head {
  margin: 30px 0 30px;
  text-align: center; }
  .partner .partner-head nav {
    display: inline-flex; }

.partner .partner-body .card {
  background-color: #f3f3f3; }

.FAQ .FAQ-head {
  margin: 30px 0;
  text-align: center; }
  .FAQ .FAQ-head nav {
    display: inline-flex; }

.FAQ .FAQ-body {
  margin-bottom: 100px; }
  .FAQ .FAQ-body .accordion {
    border: none; }
    .FAQ .FAQ-body .accordion .accordion__item {
      border: none; }
      .FAQ .FAQ-body .accordion .accordion__item .accordion__title {
        background-color: transparent !important;
        border-bottom: 1px solid #eee; }
        .FAQ .FAQ-body .accordion .accordion__item .accordion__title:focus {
          outline: none; }
        .FAQ .FAQ-body .accordion .accordion__item .accordion__title h3, .FAQ .FAQ-body .accordion .accordion__item .accordion__title .theme-page-title {
          font-size: 16px;
          color: #3A3A3A; }
      .FAQ .FAQ-body .accordion .accordion__item .accordion__body p {
        color: #6a6a6a; }
