@charset "UTF-8";
h1 {
  font-family: 'GothamPro';
  color: #252525;
  font-size: 49px;
  font-weight: bold; }

h2 {
  font-family: 'GothamPro';
  color: #252525;
  font-size: 43px;
  font-weight: bold; }

h3 {
  font-family: 'GothamPro';
  color: #252525;
  font-size: 32px;
  font-weight: bold; }

h4 {
  font-family: 'GothamPro-Bold';
  color: #252525;
  font-size: 20px;
  font-weight: bold; }

h5 {
  font-family: 'GothamPro-Bold';
  color: #252525;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 9%; }

h6 {
  font-family: 'GothamPro-Bold';
  color: #252525;
  font-size: 16px;
  letter-spacing: 9%; }

/*
* default font is set in body ,html tag
* default font is "Helvetica Neue"
*/
.theme-big-text {
  font-size: 9rem !important;
  color: #f4f5f6 !important;
  padding: 4rem 0 0 !important;
  opacity: 0.6;
  margin-bottom: -15px;
  font-weight: bold;
  text-align: center; }

.theme-text-small {
  font-size: 12px;
  line-height: 126%; }

.theme-text-bold {
  font-size: 14px;
  line-height: 144%;
  font-weight: bold; }

.theme-text-small-bold {
  font-size: 12px;
  line-height: 126%;
  font-weight: bold; }

.theme-text-primary {
  color: #F82462;
  font-weight: bold; }

.text-gray {
  color: #999; }

@media (max-width: 676px) {
  .theme-big-text {
    font-size: 4rem !important;
    line-height: 120%;
    display: none; } }

/**
  * Make the field a flex-container, reverse the order so label is on top.
  */
.field {
  display: flex;
  flex-flow: column-reverse; }

/**
  * Add a transition to the label and input.
  * I'm not even sure that touch-action: manipulation works on
  * inputs, but hey, it's new and cool and could remove the 
  * pesky delay.
  */
label, input {
  transition: all 0.2s;
  touch-action: manipulation; }

input {
  font-size: 1em;
  border: 0;
  border-bottom: 1px solid #ccc;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 2PX;
  cursor: text; }

input:focus {
  outline: 0;
  border-bottom: 1px solid #F82462; }

label {
  background-color: white;
  color: #F82462;
  text-transform: uppercase;
  letter-spacing: 0.05em; }

/**
  * Translate down and scale the label up to cover the placeholder,
  * when following an input (with placeholder-shown support).
  * Also make sure the label is only on one row, at max 2/3rds of the
  * field—to make sure it scales properly and doesn't wrap.
  */
input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1); }

/**
  * By default, the placeholder should be transparent. Also, it should 
  * inherit the transition.
  */
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
  font-size: 1rem; }

/**
  * Show the placeholder when the input is focused.
  */
input:focus::-webkit-input-placeholder {
  opacity: 1; }

/**
  * When the element is focused, remove the label transform.
  * Also, do this when the placeholder is _not_ shown, i.e. when 
  * there's something in the input at all.
  */
input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer; }

.theme-navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }
  .theme-navbar .logo {
    flex: 1;
    text-align: right; }
    .theme-navbar .logo img {
      width: 160px; }
  .theme-navbar .theme-nav-left {
    padding: 20px;
    flex: 1; }
    .theme-navbar .theme-nav-left .button-toggle {
      border: none;
      background-color: transparent;
      position: relative;
      z-index: 555;
      cursor: pointer; }
      .theme-navbar .theme-nav-left .button-toggle:focus {
        outline: none; }
      .theme-navbar .theme-nav-left .button-toggle .fa-bars, .theme-navbar .theme-nav-left .button-toggle .fa-times {
        font-size: 25px;
        color: #ffffff; }
    .theme-navbar .theme-nav-left .collapse {
      display: none; }
    .theme-navbar .theme-nav-left .theme-menu.uncollapse {
      overflow: hidden;
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 333;
      background-color: #0809086e;
      padding: 10rem 5rem;
      height: 100vh; }
      .theme-navbar .theme-nav-left .theme-menu.uncollapse .fa-arrow-right {
        position: absolute;
        z-index: 555;
        right: 63px;
        bottom: 15px;
        color: white;
        font-size: 3rem; }
      .theme-navbar .theme-nav-left .theme-menu.uncollapse .theme-menu-content {
        position: relative;
        z-index: 555; }
      .theme-navbar .theme-nav-left .theme-menu.uncollapse .theme-menu-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #F82462;
        transform: skewX(-8deg) translateX(-52px) skewY(-2deg) translateY(-68px);
        border-radius: 2px; }
    .theme-navbar .theme-nav-left .uncollapse .wrraper {
      width: 100%; }
      .theme-navbar .theme-nav-left .uncollapse .wrraper ul {
        list-style: none;
        margin: 0; }
        .theme-navbar .theme-nav-left .uncollapse .wrraper ul li a {
          font-size: 2.5rem;
          font-weight: 700;
          text-decoration: none;
          color: #ffffff;
          line-height: 150%; }
      .theme-navbar .theme-nav-left .uncollapse .wrraper p {
        color: #ffffff;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase; }
        .theme-navbar .theme-nav-left .uncollapse .wrraper p .theme-text-small {
          opacity: 0.8;
          text-transform: capitalize; }
      .theme-navbar .theme-nav-left .uncollapse .wrraper .fab {
        font-size: 2rem;
        margin-right: 20px; }
  .theme-navbar .theme-nav-right {
    flex: 2 1; }
    .theme-navbar .theme-nav-right ul.right-menu {
      position: relative;
      flex: 1;
      z-index: 444;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      margin-bottom: 0;
      list-style: none;
      margin-left: auto;
      align-items: center; }
      .theme-navbar .theme-nav-right ul.right-menu li {
        display: flex;
        padding: 20px 0; }
        .theme-navbar .theme-nav-right ul.right-menu li > a {
          display: block;
          padding: .55rem 1rem;
          color: #ffffff;
          text-decoration: none; }
      .theme-navbar .theme-nav-right ul.right-menu .drop-menu {
        background: transparent;
        border: none;
        color: white;
        padding-right: 30px; }
        .theme-navbar .theme-nav-right ul.right-menu .drop-menu .dropDownMenu {
          position: absolute;
          margin: 0;
          padding: 0;
          background-color: #F82462;
          width: 100%;
          margin-left: -10px;
          margin-top: 20px;
          border-top: 1px solid #FA6691; }
          .theme-navbar .theme-nav-right ul.right-menu .drop-menu .dropDownMenu li {
            padding: 5px 15px;
            font-size: 0.8rem; }
            .theme-navbar .theme-nav-right ul.right-menu .drop-menu .dropDownMenu li:hover {
              background-color: rgba(255, 255, 255, 0.5); }
            .theme-navbar .theme-nav-right ul.right-menu .drop-menu .dropDownMenu li a {
              padding: 0;
              width: 100%; }
        .theme-navbar .theme-nav-right ul.right-menu .drop-menu .account {
          display: flex;
          align-items: center; }
          .theme-navbar .theme-nav-right ul.right-menu .drop-menu .account img {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            margin-right: 10px; }
          .theme-navbar .theme-nav-right ul.right-menu .drop-menu .account p {
            margin-bottom: 0; }
    .theme-navbar .theme-nav-right ul.sign-in-nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 25px;
      margin: 0;
      list-style: none; }
      .theme-navbar .theme-nav-right ul.sign-in-nav li {
        margin: 0 10px; }

@media (max-width: 500px) {
  .theme-navbar {
    padding-top: 10px;
    padding-left: 0; }
  .theme-navbar .theme-nav-right {
    flex-wrap: nowrap;
    justify-content: right;
    margin: 0 auto;
    padding: 0;
    padding-top: 10px;
    border-top: 1px solid #FA6691; }
    .theme-navbar .theme-nav-right li a {
      padding: .3rem; }
  .theme-nav-left {
    padding-left: 10px; }
  .theme-nav-right {
    z-index: 0 !important; }
  .theme-menu {
    overflow: none;
    background-color: #f82462;
    height: 0 !important;
    min-height: 100vh;
    padding: 4rem 1rem 0 !important; }
  .theme-menu-bg {
    transform: none !important; } }

li.right {
  border-left: 1px solid #FA6691;
  padding-left: 10px !important; }

li.alpha {
  background-color: #f82462b8; }

.theme-btn {
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 8px 15px;
  line-height: 1.5;
  min-width: 100px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
  .theme-btn:focus {
    outline: none; }

.theme-btn-primary {
  background-color: #F82462;
  color: #ffffff; }
  .theme-btn-primary:focus {
    background-color: #F82462;
    color: #ffffff; }
  .theme-btn-primary:hover {
    background-color: #FA6691;
    color: #ffffff; }

.theme-btn-secondery {
  border: 1px solid #666;
  background-color: #ffffff;
  color: #3A3A3A; }
  .theme-btn-secondery:focus {
    border: 1px solid #666;
    background-color: #ffffff;
    color: #3A3A3A; }
  .theme-btn-secondery:hover {
    background-color: #252525;
    color: #ffffff; }

.theme-btn-outline-white {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff; }
  .theme-btn-outline-white:focus {
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff; }
  .theme-btn-outline-white:hover {
    background-color: #ffffff;
    color: #F82462; }

.theme-btn-filled-white {
  border: 1px solid #FA6691;
  background-color: #ffffff;
  color: #F82462; }
  .theme-btn-filled-white:focus {
    border: 1px solid #FA6691;
    background-color: #ffffff;
    color: #F82462; }
  .theme-btn-filled-white:hover {
    background-color: #ffffff;
    opacity: 0.8; }

.theme-btn-outline-pink {
  background-color: #F82462;
  border: 1px solid #FA6691;
  color: #ffffff; }
  .theme-btn-outline-pink:focus {
    background-color: #F82462;
    border: 1px solid #FA6691;
    color: #ffffff; }
  .theme-btn-outline-pink:hover {
    background-color: #ffffff;
    color: #F82462; }

.theme-btn-primary-light {
  background-color: #FA6691;
  color: #ffffff; }
  .theme-btn-primary-light:focus {
    background-color: #FA6691;
    color: #ffffff; }
  .theme-btn-primary-light:hover {
    background-color: #ffffff;
    color: #F82462; }

.theme-btn-link {
  padding: 0;
  display: flex;
  color: #F82462;
  background-color: transparent; }

.btn-social {
  color: #ffffff;
  display: flex;
  width: 160px;
  justify-content: center; }
  .btn-social span {
    font-size: 20px;
    margin-right: 10px; }

.btn-fb {
  background-color: #3b5998; }

.btn-vimeo {
  background-color: #1ab7ea; }

.btn-insta {
  background-color: #e1306c; }

.btn-twitter {
  background-color: #4287F6; }

.btn-google-plus {
  background-color: #E03B1A; }

header {
  background-color: #F82462;
  position: relative;
  z-index: 1000; }

footer .footer-bottom p, footer .footer-bottom a {
  font-size: 0.75rem;
  line-height: 126%;
  color: #999 !important;
  margin-bottom: 0; }

footer .footer-bottom .copyright {
  display: flex;
  align-items: center;
  height: 100%; }

footer .footer-nav .nav {
  height: 100%;
  justify-content: center;
  align-items: center; }
  footer .footer-nav .nav a {
    font-size: 0.75rem;
    line-height: 126%;
    color: #3A3A3A; }

footer .hr-light {
  color: #f3f3f3; }

footer .Social-contects .email, footer .Social-contects .phone {
  display: flex;
  justify-content: flex-end; }
  footer .Social-contects .email p, footer .Social-contects .phone p {
    line-height: 1.7em; }

footer .Social-contects .fa-envelope-o, footer .Social-contects .fa-phone {
  font-size: 2rem;
  color: #3A3A3A; }

@media (max-width: 500px) {
  footer .logo {
    display: none; }
  footer .email, footer .phone {
    justify-content: center  !important;
    margin-top: 10px; } }

.sign-in {
  height: 100vh;
  display: flex; }
  .sign-in .side-bar {
    background-color: #F82462;
    flex: 1; }
    .sign-in .side-bar img {
      margin: 30px 10px; }
  .sign-in .main-form {
    width: 100%;
    flex: 3;
    padding: 20px 30px; }
    .sign-in .main-form .social-buttons {
      display: flex;
      justify-content: space-between; }
    .sign-in .main-form .login-or-divider {
      margin: 10px 0; }
    .sign-in .main-form .theme-form {
      max-width: 100%; }

.flex-row {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }
  .flex-row .remember {
    color: grey; }
  .flex-row div {
    flex: 1; }

@media (max-width: 500px) {
  .side-bar {
    display: none; } }

.sign-up {
  height: 100%;
  display: flex; }
  .sign-up .side-bar {
    min-height: 100%;
    background-color: #F82462;
    flex: 1; }
    .sign-up .side-bar img {
      margin: 30px 10px; }
  .sign-up .main-form {
    width: 100%;
    flex: 3;
    padding: 20px 30px; }
    .sign-up .main-form .image {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1; }
    .sign-up .main-form .image:focus + label {
      /* keyboard navigation */ }
    .sign-up .main-form .image + label * {
      pointer-events: none; }
    .sign-up .main-form .social-buttons {
      display: flex;
      justify-content: space-between; }
    .sign-up .main-form .login-or-divider {
      margin: 30px 0; }

.block-el {
  position: relative;
  width: 30%;
  height: 200px;
  padding: 30px;
  margin: 10px;
  float: left; }
  .block-el .block-content {
    position: relative;
    z-index: 3333;
    height: 100%;
    display: flex;
    align-items: center; }
    .block-el .block-content button {
      display: none; }
    .block-el .block-content span {
      margin-bottom: 1rem; }
    .block-el .block-content p {
      flex: 1;
      width: 100px;
      height: 100px;
      margin: 0; }
    .block-el .block-content div.desc {
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column; }
  .block-el:hover .block-bg {
    background-color: #F82462; }
  .block-el:hover .block-content span {
    color: #ffffff; }
  .block-el:hover .block-content button {
    display: block; }

.block-el > .block-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #ffffff;
  transform: skewX(-15deg);
  box-shadow: 2px 2px 17px 0px #eceaea;
  border-radius: 2px; }

.block-el:first-child .block-bg::before {
  content: '';
  position: absolute;
  z-index: 333;
  width: 65px;
  height: 210px;
  transform: skewX(15deg) translateX(-35px);
  background-color: #fff; }

.block-el:last-child .block-bg::before {
  content: '';
  position: absolute;
  right: -74px;
  top: -10px;
  z-index: 333;
  width: 65px;
  height: 210px;
  -webkit-transform: skewX(15deg) translateX(-35px);
  transform: skewX(15deg) translateX(-35px);
  background-color: #ffff; }

.rent-gear .rent-gear-head {
  padding-top: 3rem;
  margin-bottom: 2rem; }
  .rent-gear .rent-gear-head .theme-page-title {
    margin-bottom: 0; }
  .rent-gear .rent-gear-head nav {
    background: transparent;
    box-shadow: none; }
    .rent-gear .rent-gear-head nav ol {
      background: transparent;
      padding-left: 0; }
      .rent-gear .rent-gear-head nav ol a {
        text-decoration: none;
        color: #252525; }

.rent-gear .rent-gear-body {
  margin-bottom: 3rem; }
  .rent-gear .rent-gear-body .sidebar {
    padding: 10px 0;
    background-color: #f8f8f8; }
    .rent-gear .rent-gear-body .sidebar .sidebar-title {
      position: relative;
      display: block;
      padding: .85rem 1.25rem;
      font-weight: 300; }
    .rent-gear .rent-gear-body .sidebar .sidebar-wrapper .list-group .list-group-item {
      background-color: transparent;
      border: none;
      padding: 0; }
      .rent-gear .rent-gear-body .sidebar .sidebar-wrapper .list-group .list-group-item div {
        position: relative;
        padding: .8rem 1.25rem; }
      .rent-gear .rent-gear-body .sidebar .sidebar-wrapper .list-group .list-group-item:hover {
        background-color: #f3f3f3; }
    .rent-gear .rent-gear-body .sidebar .sidebar-wrapper .list-group .list-group-item > .item-active {
      background-color: #F82462;
      color: #ffffff; }
      .rent-gear .rent-gear-body .sidebar .sidebar-wrapper .list-group .list-group-item > .item-active::after {
        content: "";
        position: absolute;
        right: -17px;
        top: 7px;
        z-index: 444;
        border: 17px solid;
        border-color: #F82462 #F82462 transparent transparent;
        transform: rotate(45deg); }
  .rent-gear .rent-gear-body .main-wrapper {
    padding-left: 30px; }
    .rent-gear .rent-gear-body .main-wrapper .main_head {
      margin-bottom: 20px; }
      .rent-gear .rent-gear-body .main-wrapper .main_head div {
        display: flex;
        align-items: center; }
    .rent-gear .rent-gear-body .main-wrapper .search {
      flex: 3; }
      .rent-gear .rent-gear-body .main-wrapper .search .theme-form {
        margin: 0;
        display: flex;
        align-items: flex-end;
        height: 100%;
        max-width: 800px;
        width: 100%; }
        .rent-gear .rent-gear-body .main-wrapper .search .theme-form .location-input {
          flex: 1;
          margin-right: 15px;
          position: relative; }
        .rent-gear .rent-gear-body .main-wrapper .search .theme-form .search-input {
          flex: 1.5;
          position: relative;
          margin-right: 15px; }
    .rent-gear .rent-gear-body .main-wrapper .views {
      flex: 1;
      display: flex;
      justify-content: center;
      border: none; }
      .rent-gear .rent-gear-body .main-wrapper .views .card-view, .rent-gear .rent-gear-body .main-wrapper .views .list-view, .rent-gear .rent-gear-body .main-wrapper .views .table-view {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 1px solid #F82462;
        color: #F82462; }
        .rent-gear .rent-gear-body .main-wrapper .views .card-view .fa, .rent-gear .rent-gear-body .main-wrapper .views .list-view .fa, .rent-gear .rent-gear-body .main-wrapper .views .table-view .fa {
          font-size: 1.3rem; }
      .rent-gear .rent-gear-body .main-wrapper .views .table-view {
        display: flex;
        flex-direction: column; }
        .rent-gear .rent-gear-body .main-wrapper .views .table-view .fa:first-child {
          padding-top: 8px;
          line-height: 0; }
      .rent-gear .rent-gear-body .main-wrapper .views .nav-item {
        margin-right: 8px; }
        .rent-gear .rent-gear-body .main-wrapper .views .nav-item .nav-link {
          padding: 0;
          border: none; }
        .rent-gear .rent-gear-body .main-wrapper .views .nav-item .active {
          background-color: #F82462; }
          .rent-gear .rent-gear-body .main-wrapper .views .nav-item .active .fa {
            color: #ffffff; }
    .rent-gear .rent-gear-body .main-wrapper .gear_list_view {
      border: none;
      background-color: #f3f3f3;
      margin-bottom: 1.5rem;
      position: relative;
      transition: all 0.6s ease-in-out;
      flex-direction: row; }
      .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-img {
        flex-basis: 25%;
        display: flex;
        align-items: center; }
        .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-img .card-img-top {
          padding: 10px;
          height: 180px; }
      .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body {
        flex-basis: 75%;
        padding: 0;
        text-align: left;
        display: flex; }
        .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body .card-center {
          flex: 2;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body .card-center .card-title {
            text-transform: uppercase;
            font-size: 0.9rem;
            margin-bottom: 12px; }
          .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body .card-center .card-subtitle {
            font-size: 0.7rem;
            font-weight: 100;
            margin-bottom: 15px;
            color: #666; }
            .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body .card-center .card-subtitle .stars {
              color: #F82462; }
            .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body .card-center .card-subtitle .fa-map-marker {
              color: #F82462; }
          .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body .card-center .card-text {
            font-size: 0.8rem;
            letter-spacing: 0.5px;
            color: #666; }
        .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body .card-right {
          flex: 1;
          border-left: 1px solid #ddd;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 10px; }
          .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body .card-right .card-text {
            margin: 0;
            margin-bottom: 0.8rem; }
            .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body .card-right .card-text .price {
              font-size: 1.5rem;
              font-weight: bold; }
          .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body .card-right .buttons {
            width: 100%;
            text-align: center; }
            .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body .card-right .buttons .cart {
              width: 60%;
              border-radius: 0;
              background-color: #F82462;
              border: none;
              color: #ffffff;
              margin-right: 10px; }
            .rent-gear .rent-gear-body .main-wrapper .gear_list_view .card-body .card-right .buttons .fav {
              width: 20%;
              border: 1px solid #FA6691;
              background-color: #fff;
              border-radius: 0;
              color: #F82462; }
      .rent-gear .rent-gear-body .main-wrapper .gear_list_view:hover {
        transition: all 0.6s ease-in-out; }
    .rent-gear .rent-gear-body .main-wrapper .gear_table_view {
      border: none;
      background-color: #f3f3f3;
      margin-bottom: 1.5rem;
      position: relative;
      transition: all 0.6s ease-in-out;
      flex-direction: row; }
      .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-img {
        flex-basis: 15%;
        display: flex;
        align-items: center; }
        .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-img .card-img-top {
          padding: 10px;
          height: 100px; }
      .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body {
        flex-basis: 85%;
        padding: 0;
        text-align: left;
        display: flex; }
        .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-center {
          flex: 3;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 10px; }
          .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-center .card-title {
            text-transform: uppercase;
            font-size: 0.9rem;
            margin-bottom: 15px; }
          .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-center .card-subtitle {
            font-size: 0.7rem;
            font-weight: 100;
            color: #666; }
            .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-center .card-subtitle .stars {
              color: #F82462; }
            .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-center .card-subtitle .fa-map-marker {
              color: #F82462; }
        .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-right {
          flex: 2;
          border-left: 1px solid #ddd;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px; }
          .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-right .card-text {
            text-align: center;
            margin: 0;
            flex: 1; }
            .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-right .card-text .price {
              font-size: 1.5rem;
              font-weight: bold; }
          .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-right .buttons {
            width: 100%;
            text-align: center;
            flex: 1;
            box-sizing: border-box; }
            .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-right .buttons .cart {
              width: 35%;
              border-radius: 0;
              border: 1px solid #FA6691;
              background-color: transparent;
              color: #F82462;
              margin-right: 10px; }
              .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-right .buttons .cart:hover {
                background-color: #F82462;
                color: #ffffff; }
            .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-right .buttons .fav {
              width: 35%;
              border: 1px solid #FA6691;
              background-color: transparent;
              border-radius: 0;
              color: #F82462; }
              .rent-gear .rent-gear-body .main-wrapper .gear_table_view .card-body .card-right .buttons .fav:hover {
                background-color: #F82462;
                color: #ffffff; }
      .rent-gear .rent-gear-body .main-wrapper .gear_table_view:hover {
        transition: all 0.6s ease-in-out; }

.custom-input {
  width: 100%;
  position: relative; }
  .custom-input .placeholder-label {
    position: absolute;
    top: -10px;
    left: 10px;
    opacity: .5;
    font-size: 10px;
    text-transform: uppercase; }
  .custom-input .label {
    color: #ffffff;
    display: none; }
  .custom-input ::placeholder {
    color: inherit;
    opacity: 0.5; }
  .custom-input .form-control {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
    height: calc(2rem + 2px); }
    .custom-input .form-control:focus {
      outline: none;
      box-shadow: none; }
  .custom-input.custom-input-with-icon .fa {
    position: absolute;
    font-size: 12px;
    bottom: 10px;
    left: 5px;
    opacity: 0.5; }
  .custom-input.custom-input-with-icon .placeholder-label {
    left: 20px; }
  .custom-input.custom-input-with-icon input {
    padding-left: 20px; }

.add-gear {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10px; }
  .add-gear .add-gear-body {
    min-width: 800px;
    margin-bottom: 10px; }
    .add-gear .add-gear-body .add-gear-progress {
      display: flex;
      margin-bottom: 15px; }
      .add-gear .add-gear-body .add-gear-progress .add-gear-progress-item {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        opacity: 0.2;
        color: #F82462;
        position: relative; }
        .add-gear .add-gear-body .add-gear-progress .add-gear-progress-item i {
          font-size: 32px;
          position: relative;
          z-index: 1000;
          background-color: white; }
        .add-gear .add-gear-body .add-gear-progress .add-gear-progress-item.active {
          opacity: 1; }
        .add-gear .add-gear-body .add-gear-progress .add-gear-progress-item:nth-child(n + 2):before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          border-top: 1px solid #F82462;
          left: -50%;
          top: 16px; }
    .add-gear .add-gear-body .flex-row {
      align-items: unset; }
      .add-gear .add-gear-body .flex-row .info-left-container {
        flex: 1; }
      .add-gear .add-gear-body .flex-row .info-right-container {
        margin-left: 15px;
        flex: 1; }
        .add-gear .add-gear-body .flex-row .info-right-container .type-tabs {
          flex: 2; }
          .add-gear .add-gear-body .flex-row .info-right-container .type-tabs input {
            display: none; }
          .add-gear .add-gear-body .flex-row .info-right-container .type-tabs label {
            background: white;
            color: orange;
            padding: 5px 15px;
            border: 1px solid lightgray;
            display: inline-flex;
            border-radius: 30px;
            margin-right: 5px; }
            .add-gear .add-gear-body .flex-row .info-right-container .type-tabs label.active {
              color: white;
              background-color: #00f077; }
    .add-gear .add-gear-body .add-gear-photos {
      display: flex;
      flex-direction: column;
      border: 1px solid lightgray;
      min-height: 300px;
      padding: 15px; }
      .add-gear .add-gear-body .add-gear-photos .add-gear-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start; }
        .add-gear .add-gear-body .add-gear-photos .add-gear-images .add-gear-image,
        .add-gear .add-gear-body .add-gear-photos .add-gear-images .add-gear-addimage {
          height: 100px;
          width: 100px;
          border: 1px solid lightgray;
          margin: 0 10px 10px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden; }
          .add-gear .add-gear-body .add-gear-photos .add-gear-images .add-gear-image input,
          .add-gear .add-gear-body .add-gear-photos .add-gear-images .add-gear-addimage input {
            display: none; }
          .add-gear .add-gear-body .add-gear-photos .add-gear-images .add-gear-image img,
          .add-gear .add-gear-body .add-gear-photos .add-gear-images .add-gear-addimage img {
            width: 100%; }
        .add-gear .add-gear-body .add-gear-photos .add-gear-images .add-gear-addimage i {
          font-size: 30px;
          color: #F82462; }
    .add-gear .add-gear-body .add-gear-price {
      display: flex;
      margin-left: 15px; }
      .add-gear .add-gear-body .add-gear-price > div {
        margin-left: 15px; }
      .add-gear .add-gear-body .add-gear-price .gear-left-container .price-type-tabs input {
        display: none; }
      .add-gear .add-gear-body .add-gear-price .gear-left-container .price-type-tabs label {
        color: orange;
        padding: 3px 10px;
        margin: 2px;
        border: 1px solid lightgray;
        display: inline-block;
        font-size: 12px; }
        .add-gear .add-gear-body .add-gear-price .gear-left-container .price-type-tabs label.active {
          color: white;
          background-color: #00f077; }
      .add-gear .add-gear-body .add-gear-price .gear-left-container .gear-carousel {
        margin-top: 15px;
        width: 300px; }
        .add-gear .add-gear-body .add-gear-price .gear-left-container .gear-carousel img {
          width: 100%; }
      .add-gear .add-gear-body .add-gear-price .gear-middle-container {
        width: 250px; }
        .add-gear .add-gear-body .add-gear-price .gear-middle-container .flex-row .gear-accessories-address {
          display: flex;
          justify-content: space-between;
          padding-bottom: 15px;
          margin-bottom: 15px;
          border-bottom: 1px solid lightgray; }
      .add-gear .add-gear-body .add-gear-price .gear-right-container .addgear-price {
        width: 200px;
        border: 5px solid lightgray;
        padding: 5px 15px; }
        .add-gear .add-gear-body .add-gear-price .gear-right-container .addgear-price > * {
          margin-top: 8px; }
        .add-gear .add-gear-body .add-gear-price .gear-right-container .addgear-price .custom-input {
          width: auto;
          flex: 1; }
  .add-gear .buttons-container {
    display: flex; }
    .add-gear .buttons-container button {
      margin: 5px;
      width: auto;
      min-width: auto; }
    .add-gear .buttons-container .theme-btn-primary {
      flex: 1; }

.theme-form {
  margin: 15px 0; }
  .theme-form .theme-form-field {
    margin: 8px 0px;
    display: flex; }
  .theme-form input[type="checkbox"] {
    height: 20px;
    width: 20px;
    position: inherit;
    margin: 0;
    margin-right: 5px; }

.update-gear {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px; }
  .update-gear .update-gear-body {
    display: flex;
    flex: 1;
    width: 50%;
    margin-right: 10px; }
    .update-gear .update-gear-body .gear-left-container {
      flex: 2;
      margin-right: 30px; }
      .update-gear .update-gear-body .gear-left-container .type-tabs {
        flex: 2; }
        .update-gear .update-gear-body .gear-left-container .type-tabs input {
          display: none; }
        .update-gear .update-gear-body .gear-left-container .type-tabs label {
          background: white;
          color: orange;
          padding: 5px 15px;
          border: 1px solid lightgray;
          display: inline-flex;
          border-radius: 30px;
          margin-right: 5px; }
          .update-gear .update-gear-body .gear-left-container .type-tabs label.active {
            color: white;
            background-color: #00f077; }
      .update-gear .update-gear-body .gear-left-container .flex-row {
        flex-wrap: wrap;
        flex-direction: row; }
      .update-gear .update-gear-body .gear-left-container .add-gear-photos {
        display: flex;
        flex-direction: column;
        border: 1px solid lightgray;
        min-height: 300px;
        padding: 15px; }
        .update-gear .update-gear-body .gear-left-container .add-gear-photos .add-gear-images {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start; }
          .update-gear .update-gear-body .gear-left-container .add-gear-photos .add-gear-images .add-gear-image,
          .update-gear .update-gear-body .gear-left-container .add-gear-photos .add-gear-images .add-gear-addimage {
            height: 100px;
            width: 100px;
            border: 1px solid lightgray;
            margin: 0 10px 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden; }
            .update-gear .update-gear-body .gear-left-container .add-gear-photos .add-gear-images .add-gear-image input,
            .update-gear .update-gear-body .gear-left-container .add-gear-photos .add-gear-images .add-gear-addimage input {
              display: none; }
            .update-gear .update-gear-body .gear-left-container .add-gear-photos .add-gear-images .add-gear-image img,
            .update-gear .update-gear-body .gear-left-container .add-gear-photos .add-gear-images .add-gear-addimage img {
              width: 100%; }
          .update-gear .update-gear-body .gear-left-container .add-gear-photos .add-gear-images .add-gear-addimage i {
            font-size: 30px;
            color: #F82462; }
    .update-gear .update-gear-body .gear-right-container {
      flex: 1; }
      .update-gear .update-gear-body .gear-right-container .addgear-price {
        width: 200px;
        border: 5px solid lightgray;
        padding: 5px 15px; }
        .update-gear .update-gear-body .gear-right-container .addgear-price > * {
          margin-top: 8px; }
        .update-gear .update-gear-body .gear-right-container .addgear-price .custom-input {
          width: auto;
          flex: 1; }

.theme-form {
  margin: 15px 0; }
  .theme-form .theme-form-field {
    margin-right: 8px;
    display: flex;
    flex: 1;
    width: 100%; }
    .theme-form .theme-form-field .input-field {
      width: 100%; }
    .theme-form .theme-form-field button {
      background: white;
      color: black; }
  .theme-form input[type="checkbox"] {
    height: 20px;
    width: 20px;
    position: inherit;
    margin: 0;
    margin-right: 5px; }
  .theme-form textarea {
    width: 100%;
    min-height: 250px; }

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  .dashboard .dashboard-head {
    padding-left: 15%;
    background-color: #e9ecef;
    display: flex;
    flex-direction: column;
    flex: 150px; }
    .dashboard .dashboard-head .user-info {
      flex: 75%;
      display: flex;
      flex-direction: row;
      margin-top: 30px; }
      .dashboard .dashboard-head .user-info img {
        width: 70px;
        height: 70px;
        border-radius: 50px; }
      .dashboard .dashboard-head .user-info .user-details {
        display: flex;
        flex-direction: column;
        margin-left: 20px; }
        .dashboard .dashboard-head .user-info .user-details .user-contact {
          display: flex;
          flex-direction: row; }
          .dashboard .dashboard-head .user-info .user-details .user-contact span {
            font-size: 10px; }
          .dashboard .dashboard-head .user-info .user-details .user-contact p {
            font-style: bold;
            font-size: 10px; }
          .dashboard .dashboard-head .user-info .user-details .user-contact .user-contact-phone {
            margin-left: 20px; }
    .dashboard .dashboard-head .dashboard-navbar button {
      background: unset;
      border: unset;
      text-decoration: none; }
      .dashboard .dashboard-head .dashboard-navbar button.active {
        border-bottom: 3px solid red; }
  .dashboard .dashboard-body {
    flex: 250px;
    justify-content: center;
    display: flex; }
    .dashboard .dashboard-body .dashboard-content {
      margin-top: 10px;
      width: 65%; }
      .dashboard .dashboard-body .dashboard-content .chart-content {
        background: #faf8f9;
        display: flex;
        flex-direction: column;
        width: 100%; }
        .dashboard .dashboard-body .dashboard-content .chart-content .main-box {
          margin: 10px;
          display: flex;
          flex-direction: row; }
          .dashboard .dashboard-body .dashboard-content .chart-content .main-box .BarChart {
            flex: 75%; }
          .dashboard .dashboard-body .dashboard-content .chart-content .main-box .left-box {
            margin: 10px;
            display: flex;
            flex-direction: column; }
            .dashboard .dashboard-body .dashboard-content .chart-content .main-box .left-box .box1 {
              flex: 30%;
              display: flex;
              background: white;
              border-left: 5px solid red;
              margin-bottom: 10px;
              padding: 15px; }
              .dashboard .dashboard-body .dashboard-content .chart-content .main-box .left-box .box1 .value {
                display: block;
                font-weight: bold;
                font-size: 30px; }
              .dashboard .dashboard-body .dashboard-content .chart-content .main-box .left-box .box1 .lable {
                display: block;
                font-size: 10px; }
            .dashboard .dashboard-body .dashboard-content .chart-content .main-box .left-box .box2 {
              flex: 30%;
              display: flex;
              background: white;
              border-left: 5px solid blue;
              padding: 15px;
              margin-bottom: 10px; }
              .dashboard .dashboard-body .dashboard-content .chart-content .main-box .left-box .box2 .value {
                display: block;
                font-weight: bold;
                font-size: 30px; }
              .dashboard .dashboard-body .dashboard-content .chart-content .main-box .left-box .box2 .lable {
                font-size: 10px; }
            .dashboard .dashboard-body .dashboard-content .chart-content .main-box .left-box .box3 {
              flex: 30%;
              display: flex;
              background: white;
              border-left: 5px solid green;
              padding: 15px;
              margin-bottom: 10px; }
              .dashboard .dashboard-body .dashboard-content .chart-content .main-box .left-box .box3 .value {
                font-weight: bold;
                display: block;
                font-size: 30px; }
              .dashboard .dashboard-body .dashboard-content .chart-content .main-box .left-box .box3 .lable {
                font-size: 10px; }
        .dashboard .dashboard-body .dashboard-content .chart-content .bottom-box {
          margin: 10px;
          display: flex;
          flex-direction: row; }
          .dashboard .dashboard-body .dashboard-content .chart-content .bottom-box .total-listing {
            background: white;
            flex: 30%;
            margin-left: 10px;
            padding: 15px; }
            .dashboard .dashboard-body .dashboard-content .chart-content .bottom-box .total-listing .value {
              font-weight: bold;
              font-size: 2rem; }
            .dashboard .dashboard-body .dashboard-content .chart-content .bottom-box .total-listing .lable {
              display: block;
              font-size: 0.8rem; }
          .dashboard .dashboard-body .dashboard-content .chart-content .bottom-box .out-on-rent {
            background: white;
            flex: 30%;
            margin-left: 10px;
            padding: 15px; }
            .dashboard .dashboard-body .dashboard-content .chart-content .bottom-box .out-on-rent .value {
              font-weight: bold;
              font-size: 2rem; }
            .dashboard .dashboard-body .dashboard-content .chart-content .bottom-box .out-on-rent .lable {
              display: block;
              font-size: 0.8rem; }
          .dashboard .dashboard-body .dashboard-content .chart-content .bottom-box .available {
            background: white;
            padding: 15px;
            flex: 30%;
            margin-left: 10px;
            margin-right: 10px; }
            .dashboard .dashboard-body .dashboard-content .chart-content .bottom-box .available .value {
              font-weight: bold;
              font-size: 2rem; }
            .dashboard .dashboard-body .dashboard-content .chart-content .bottom-box .available .lable {
              display: block;
              font-size: 0.8rem; }
      .dashboard .dashboard-body .dashboard-content .account-details {
        background: #faf8f9;
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 20px; }
        .dashboard .dashboard-body .dashboard-content .account-details .user-details {
          margin-right: 20px;
          flex: 1; }
          .dashboard .dashboard-body .dashboard-content .account-details .user-details .user-info {
            background: white;
            padding: 20px;
            margin-bottom: 20px; }
          .dashboard .dashboard-body .dashboard-content .account-details .user-details .change-password {
            background: white;
            padding: 20px; }
          .dashboard .dashboard-body .dashboard-content .account-details .user-details span {
            font-size: 10px; }
          .dashboard .dashboard-body .dashboard-content .account-details .user-details input {
            text-decoration: none;
            display: block;
            width: 100%;
            margin-bottom: 10px;
            border: unset;
            border-bottom: 1px solid #e0e0e0;
            font-size: 15px; }
            .dashboard .dashboard-body .dashboard-content .account-details .user-details inputplaceholder {
              font-size: 15px; }
          .dashboard .dashboard-body .dashboard-content .account-details .user-details button {
            width: 100%;
            background: #f82462;
            border: unset;
            margin-top: 10px;
            color: white;
            font-size: 10px;
            height: 30px; }
        .dashboard .dashboard-body .dashboard-content .account-details .payment-meathod {
          flex: 1;
          background: white;
          padding: 10px; }
        .dashboard .dashboard-body .dashboard-content .account-details h6 {
          font-weight: 900;
          color: #a4a4a4; }
      .dashboard .dashboard-body .dashboard-content .content {
        flex-direction: column;
        width: 100%;
        padding: 20px; }
        .dashboard .dashboard-body .dashboard-content .content .header {
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          .dashboard .dashboard-body .dashboard-content .content .header button {
            background: #f82462;
            border: unset;
            color: white;
            padding: 9px;
            font-size: 13px;
            flex-basis: 80px;
            flex-shrink: 1; }
        .dashboard .dashboard-body .dashboard-content .content .body {
          background: #faf8f9;
          margin: 10px;
          padding: 20px; }
          .dashboard .dashboard-body .dashboard-content .content .body .body-content {
            background: #ffffff;
            width: 100%; }
            .dashboard .dashboard-body .dashboard-content .content .body .body-content table {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              padding: 20px; }
              .dashboard .dashboard-body .dashboard-content .content .body .body-content table thead tr {
                display: flex;
                justify-content: space-around; }
                .dashboard .dashboard-body .dashboard-content .content .body .body-content table thead tr th {
                  font: unset;
                  font-size: 13px; }
              .dashboard .dashboard-body .dashboard-content .content .body .body-content table tbody tr {
                display: flex;
                justify-content: space-around;
                margin: 0px;
                padding: 0px; }
                .dashboard .dashboard-body .dashboard-content .content .body .body-content table tbody tr td {
                  font: unset;
                  font-size: 13px; }
                  .dashboard .dashboard-body .dashboard-content .content .body .body-content table tbody tr td img {
                    margin: 0px;
                    padding: 0px; }

.about-us {
  width: 100%; }
  .about-us .about-us-head {
    background-color: #F82462;
    padding: 2.6rem 0;
    margin-bottom: 3rem; }
    .about-us .about-us-head .breadcrumb {
      margin: 0;
      padding-left: 0.5rem;
      margin-bottom: 4rem;
      color: #ffffff; }
      .about-us .about-us-head .breadcrumb .breadcrumb-item::before {
        color: #ffffff; }
      .about-us .about-us-head .breadcrumb .active {
        color: #ffffff;
        font-weight: 800; }
    .about-us .about-us-head h1 {
      color: #ffffff;
      margin-bottom: 2rem; }
    .about-us .about-us-head h4.intro, .about-us .about-us-head p {
      color: #ffffff; }
      .about-us .about-us-head h4.intro .bold, .about-us .about-us-head p .bold {
        font-weight: 700; }
    .about-us .about-us-head p.bread-crums {
      padding-top: 4rem; }
    .about-us .about-us-head p.about-desc {
      width: 80%;
      padding: 0;
      letter-spacing: 1px;
      line-height: 24px; }
    .about-us .about-us-head .about-cm {
      margin-left: -20px; }
    @media (max-width: 676px) {
      .about-us .about-us-head .about-cm {
        margin: 0;
        width: 100%;
        padding-top: 1rem;
        text-align: center; } }
  .about-us .about-us-body .team-members {
    margin-bottom: 4rem; }
    .about-us .about-us-body .team-members h2.our-team {
      text-align: center;
      margin-bottom: 3rem; }
    .about-us .about-us-body .team-members .card .card-title {
      bottom: 15%;
      color: #ffffff; }
    .about-us .about-us-body .team-members .card .card-text {
      bottom: 10%; }
  .about-us .about-us-body .press {
    margin-bottom: 4rem; }
    .about-us .about-us-body .press h2.press-title {
      text-align: center;
      margin-bottom: 3rem; }

.centered-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .centered-content .title {
    color: #ffffff;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 15px; }
  .centered-content .bold {
    font-weight: bold; }
  .centered-content .row {
    justify-content: space-evenly; }

.home {
  height: 100%;
  width: 100%; }
  .home .home-head {
    background-color: #F82462;
    margin-bottom: 15px;
    color: #ffffff;
    height: calc(100vh - 76px); }
