$primary-color: #F82462;
$primary-light-color: #FA6691;
$primary-color-alpha: #f82462b8;
$secondary-color: #252525;
$secondary-light-color: #3A3A3A;
$white: #ffffff;
$gray-light: #f3f3f3;
$gray-lighten: #f8f8f8;
