.flex-rows{
  display: flex;
    align-items: unset;
  .info-left-container{
    flex : 1;
    padding:10px !important;
    .theme-form-field{

    }
  }
  // align-items: flex-start;
  .info-right-container{
    padding:10px !important ;
    flex : 1;
    @import './conditionRadioButton.scss';
  }
}